name: build-opencvsharp-extern

on:
  workflow_dispatch:

jobs:
  macos-universal:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build macOS universal OpenCvSharpExtern
        shell: bash
        run: |
          chmod +x ./build-macos-universal.sh
          ./build-macos-universal.sh

      - name: Upload artifact (macOS)
        uses: actions/upload-artifact@v4
        with:
          name: OpenCvSharpExtern-macos-universal
          path: out/macos/*

  windows-x64:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build Windows x64 OpenCvSharpExtern
        shell: pwsh
        run: |
          ./build-windows-x64.ps1

      - name: Upload artifact (Windows)
        uses: actions/upload-artifact@v4
        with:
          name: OpenCvSharpExtern-windows-x64
          path: out/windows/*
